.banner-movie-element{
    display: flex;
    background: linear-gradient(45deg, rgb(53, 53, 53), rgb(150, 41, 41));
    width: 100%;
    align-items: center;
    justify-content: center;
}

.banner-movie-image{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem 0rem;
}

.banner-movie-image img{
    width: 65%;
    border-radius: 10px;

}

.banner-movie-info{
    width: 50%;

}

.banner-movie-specs{
    display: flex;
    gap: 1rem;
}

.banner-movie-specs p{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.big-button{
    margin-top: 2rem;
}
